<?xml   version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper       PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"       "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--代理扫描  namespace属性表示当前代理的命名空间，
    属性值一般情况下等于dao的接口类地址  相当于dao接口实现类   -->
<mapper namespace="com.shopping.dao.UserMapper">
    <!--这里会有增删改查的标签-->
    <update id="updateAddress" parameterType="AddressEntity">
        UPDATE address
        <set>
            <if test="name!=null">
                name=#{name},
            </if>
            <if test="phone!=null">
                phone=#{phone},
            </if>
            <if test="province!=null">
                province=#{province},
            </if>
            <if test="city!=null">
                city=#{city},
            </if>
            <if test="area!=null">
                area=#{area},
            </if>
            <if test="detail!=null">
                detail=#{detail}
            </if>
        </set>
        WHERE id=#{id}
    </update>
</mapper>   